altair
attrs
biopython
blinker
brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
h2
hpack
hyperframe
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib==3.10.5
munkres==1.1.4
narwhals
networkx
numpy==2.0.1
packaging
pandas
pillow
plotly
protobuf==6.31.1
pyarrow==21.0.0
pycparser
pydeck
pyparsing
PySide6==6.9.1
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scipy==1.16.0
shiboken6==6.9.1
six
smmap
streamlit
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
zipp
zstandard==0.23.0
